@model AzSelfService.Models.SubRequestViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>New Subscription Request</h1>

<h4>Request a new Azure Subscription Here.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionName" class="control-label">Subscription Name</label>
                <input asp-for="SubscriptionName" class="form-control" />
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionType" class="control-label">Subscription Type</label>
                <select asp-for="SubscriptionType" class="form-control">
                    <option selected></option>
                    <option>Lab</option>
                    <option>Production</option>
                </select>
                <span asp-validation-for="SubscriptionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostId" class="control-label">Cost Id</label>
                <input asp-for="CostId" class="form-control" />
                <span asp-validation-for="CostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"> Department Id</label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
